body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}
h1 { 
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 250px;
  left: 450px;
  text-shadow: 1px 2px #000000;
  text-align: center;
  margin-right: auto;
}
h2 { 
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 300px;
  left: 410px;
  text-shadow: 1px 2px #000000;
  text-align: center;
  margin-right: auto;
}

h3 { 
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 350px;
  left: 440px;
  text-shadow: 1px 2px #000000;
  text-align: center;
  margin-right: auto;
}

h4, h5, h6 {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.content { 
  position: relative;

}
.container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  background: #dbc6b6;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.nav #logo {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.nav a {
  padding: 0px 10px;
  color: #000;
}
.nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
#header,
#counter,
.bk-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.bk-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}
.cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.cover a:hover {
  color: white;
}

.cover > .container {
  position: relative;
  z-index: 10;
}
